<!DOCTYPE html>
<html>
  <head>
    <title>SampleAppDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
   　<% flash.each do |key, value| %>
     <% if key.to_s == "notice" %>
     <p id="notice"><%= value %></p>
      <% end %>
     <% flash.discard(key) %>
     <% end %>

<%= yield %>
</main>
  </body>
</html>
